In [1]:
# Dependencies
from bs4 import BeautifulSoup 
import requests
import pandas as pd
from splinter import Browser
from selenium import webdriver

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
#URL of Nasa New Page
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
nasa_news = BeautifulSoup(html, 'html.parser')

In [5]:
# Examine the results, then determine element that contains sought info
#print(nasa_news.prettify())

In [6]:
news_title = nasa_news.find('div', class_='content_title').text
news_p = nasa_news.find('div', class_='rollover_description_inner').text

print(f"The latest news title: {news_title}")
print(f"The lastest paragraph text: {news_p}")

The latest news title: HiRISE Views NASA's InSight and Curiosity on Mars
The lastest paragraph text: New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.

# JPL Mars Space Images - Featured Image

In [7]:
#url of JPL Mars Space Images
images_url = 'https://www.jpl.nasa.gov/spaceimages/'
browser.visit(images_url)
html = browser.html

In [8]:
nasa_images = BeautifulSoup(html, 'html.parser')
featured_image = nasa_images.find('a', class_='fancybox')
url = featured_image.get('data-fancybox-href')
featured_image_url = 'https://www.jpl.nasa.gov' + url

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19382_ip.jpg

## Mars Weather

In [9]:
#url of twitter page
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)
html = browser.html
mars_twitter = BeautifulSoup(html, 'html.parser')

In [10]:
mars_weather = mars_twitter.find('div', class_="js-tweet-text-container").get_text()

print(mars_weather)

InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)
winds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)
pressure at 7.20 hPapic.twitter.com/VONawbIeG4

# Mars Facts

In [11]:
#url of Mars Facts
facts_url = 'https://space-facts.com/mars/'
facts_table = pd.read_html(facts_url)
facts_table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
mars_table = facts_table[1]
mars_table.columns = ['fact', 'data']
mars_table.set_index("fact")
mars_table

                   fact                           data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
facts_html = mars_table.to_html(classes='marsinformation')
facts_html

'<table border="1" class="dataframe marsinformation">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>fact</th>\n      <th>data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [14]:
import time
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)
hemispheres = []
#print(hemi_soup.prettify())

In [15]:
for i in range(4):
    time.sleep(3)
    images = browser.find_by_tag('h3')
    images[i].click()
    html = browser.html
    hemi_soup = BeautifulSoup(html, 'html.parser')
    image_title = hemi_soup.find("h2", class_="title").get_text()
    back_half_url = hemi_soup.find('img', class_="wide-image")['src']
    img_url = 'https://astrogeology.usgs.gov/' + back_half_url
    dictionary = {"title": image_title, "img_url":img_url}
    hemispheres.append(dictionary)
    browser.back()

In [16]:
print(hemispheres)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]